<h1 align="Center">DateLive</h1>
<div>
    Bem-Vindo ao DateLive uma platarfoma Web para auxiliar com seus estudos em Estruturas de Dados.
    Essa Plataforma foi desenvolvida por Aquiles Alves Barros Júnior sobe orientação do Professor M.e. Fabiano Fagundes
    para a matéria de Estágio Supervisionado em Ciência da Computação.
    <br>
    Aqui você pode acessar <a [routerLink]="['/conteudos']">conteudos</a> e <a
        [routerLink]="['/exemplos']">Exemplos</a>.
    Além de poder fazer <a [routerLink]="['/exerciciosP']">Exercicios com Pontuação</a> e <a
        [routerLink]="['/exercicios']">Exercicios sem Pontuação</a>.
</div>